<div class="bootstrap-wrapper" *ngIf="!isSubmit">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <!-- Instrustions -->

                <mat-card class="spinner_center">
                    <h3><b>Instrustions</b></h3>
                    <mat-card-content>
                        <ul>
                            <li>Please Do not refresh page otherwise question will be lost and new questions will suffles</li>
                            <li>Don't switch tab</li>
                            <li>Don't minimize current window</li>
                        </ul>
                    </mat-card-content>
                </mat-card>


            </div>
            <div class="col-md-8">
                <!-- Questions -->
                <ng-container *ngIf="questions">
                    <h1 class="mt20">
                        On Going Quiz <b>{{questions[0].quiz.title}}</b>
                    </h1>
                </ng-container>
                <mat-card *ngFor="let q of questions; let i=index" class="mt20">
                    <mat-card-content>
                        <p><b>Q: {{i+1}})</b> <span [innerHTML]="q.content"></span>
                        </p>

                        <mat-divider></mat-divider>

                        <div class="row mt20">
                            <div class="col-md-6">
                                <input type="radio" [(ngModel)]="q.givenAnswer" [value]="q.option1" [name]="i" />{{q.option1}}
                            </div>
                            <div class="col-md-6">
                                <input type="radio" [(ngModel)]="q.givenAnswer" [value]="q.option2" [name]="i" />{{q.option2}}
                            </div>
                        </div>

                        <div class="row mt20">
                            <div class="col-md-6 ">
                                <input type="radio" [(ngModel)]="q.givenAnswer" [value]="q.option3" [name]="i" />{{q.option3}}
                            </div>
                            <div class="col-md-6 ">
                                <input type="radio" [(ngModel)]="q.givenAnswer" [value]="q.option4" [name]="i" />{{q.option4}}
                            </div>
                        </div>

                    </mat-card-content>
                </mat-card>

                <div class="container text-center mt20">
                    <button (click)="submitQuiz()" mat-raised-button color="primary">Submit Quiz</button>
                </div>

            </div>
            <div class="col-md-2 ">
                <!-- Progress -->
                <mat-card class="spinner_center">
                    <mat-card-header>
                        <mat-card-title>
                            Progress
                            <mat-card-subtitle>
                                Quiz will automatically submitted when timer reaches to
                                <b>: 0.0</b>
                            </mat-card-subtitle>
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <h1 class="text-center">{{ getFormatedTime() }} </h1>
                        <mat-spinner color="accent" mode="determinate" [value]="(isTimer / (this.questions.length * 2 * 60)) * 100" class="spinner_auto">
                        </mat-spinner>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
    </div>
</div>

<!-- No data Available in this Quiz -->
<div class="col-md-12" *ngIf="questions.length==0; else elseStatement">
    <mat-card class="ml20 text-center">
        <mat-card-content>
            <h1>No data Available in this Quiz</h1>
        </mat-card-content>

        <mat-card-actions>
            <button mat-raised-button color="primary" [routerLink]="'/user-dashboard/0'"> Home</button>
        </mat-card-actions>
    </mat-card>
</div>

<!-- else block when data is Available in inside any quiz then execute only that section -->
<ng-template #elseStatement>
    <!-- Show the result -->
    <div class="bootstrap-wrapper" *ngIf=isSubmit>
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>
                            Quiz Result
                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content class="text-center">
                        <h1>Marks Obtained: {{marksGot}}</h1>
                        <h1>Correct Answers : {{correctAnswers}}</h1>
                        <h1>Question Attemped: {{attempted}}</h1>
                    </mat-card-content>

                    <!-- Buuton -->

                    <mat-card-actions class="text-center">
                        <button mat-raised-button color="primary" [routerLink]="'/user-dashboard/0'"> Home</button>
                        <button (click)="printPage()" mat-raised-button color="accent"> Print</button>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</ng-template>